{% extends 'base.html'%}
{%block content%}

<div class="col-md-6 offset-md-3">

    <h1>Login</h1>

    <form action="{% url 'home' %}" method="POST">

        {% csrf_token %}

        <h1>Login</h1>

        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placedolder="Username" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placedolder="Password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>

    </form>

</div>
{%endblock%}
